// 拖拽点的样式
.dot {
  height: 8px;
  width: 8px;
  box-sizing: border-box;
  background-color: black;
  z-index: 99;
  // border-radius: 50%;
  position: absolute;
  user-select: none;

  &:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }
}

// 中间四个点
.centerStart {
  top: -5px;
  left: calc(50% - 4px);
}

.centerEnd {
  bottom: -5px;
  left: calc(50% - 4px);
}

.startCenter {
  top: calc(50% - 4px);
  left: -5px;
}
.endCenter {
  top: calc(50% - 4px);
  right: -5px;
}

// 四个角的点
.startStart {
  top: -5px;
  left: -5px;
}

.endStart {
  top: -5px;
  right: -5px;
}

.startEnd {
  bottom: -5px;
  left: -5px;
}

.endEnd {
  bottom: -5px;
  right: -5px;
}
