.focus {
  &::after {
    border: 2px dashed red;
  }
}

.preview {
  &::after {
    display: none;
  }
}

.lineX {
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px dashed red;
}

.lineY {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px dashed red;
}
