@font-face {
  font-family: "iconfont"; /* Project id 4193211 */
  src: url('iconfont.woff2?t=1691001576690') format('woff2'),
       url('iconfont.woff?t=1691001576690') format('woff'),
       url('iconfont.ttf?t=1691001576690') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daoru1:before {
  content: "\e600";
}

.icon-daoru:before {
  content: "\e6ff";
}

.icon-daochu:before {
  content: "\e613";
}

.icon-daochu1:before {
  content: "\e60b";
}

.icon-shangyibu:before {
  content: "\ebf1";
}

.icon-xiayibu:before {
  content: "\ebef";
}

.icon-zhongzuo:before {
  content: "\e72b";
}

.icon-back:before {
  content: "\e602";
}

.icon-right:before {
  content: "\e603";
}

