// 编辑器全局样式
// 导入字体图标
@import "../iconfont/iconfont.css";

.editor {
  width: 100%;
  height: 100%;

  &-top {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    background-color: #fff;
    box-shadow: rgb(204, 204, 204) 1px 1px 10px 0px;
    box-sizing: border-box;
    z-index: 99;
  }

  .main {
    box-sizing: border-box;
    padding-top: 100px;
    height: 100%;
    width: 100%;
  }

  &-left,
  &-right {
    position: absolute;
    top: 100px;
    bottom: 0;
    box-sizing: border-box;
  }

  &-left {
    left: 0;
    width: 400px;
  }

  &-right {
    right: 0;
    width: 270px;
  }

  &-container {
    box-sizing: border-box;
    margin: 0 270px 0 400px;
    height: 100%;
    &-canvas {
      overflow: auto;
      height: 100%;
      width: 100%;
      background-color: #f5f5f5;
      box-sizing: border-box;
      padding: 0 20px;
      &-content {
        margin: 20px auto;
        background-color: #fcfcfc;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px,
          rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
        // box-shadow: rgba(13, 35, 67, 0.03) 0px 4px 10px 0px;
      }
    }
  }
}

// 关闭动画
.el-button,
.el-input {
  transition: none;
}
