// 导入字体图标
@import '../iconfont/iconfont.css';

* {
    margin: 0;
    padding: 0;
}

.editor {
    width: 100%;
    height: 100%;

    &-left,&-right {
        position: absolute;
        top:0;
        bottom:0;
        width: 270px;
    }

    &-left {
        left:0;  
        border-right:2px solid rgb(160 0 254);

        &-item {
            width: 250px;
            margin: 20px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            padding: 20px;
            box-sizing: border-box;
            cursor: move;
            user-select: none;
            min-height: 100px;

            position: relative;
           
            > span {
                position: absolute;
                top: 0;
                left: 0;
                color: #fff;
                background-color: rgb(23, 154, 190);
                padding: 4px;
            }

            &::after {
                content: '';
                position: absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                background-color: #ccc;
                opacity: 0.2;
            }
        }
    }

    &-right {
        right: 0;
        border-left:2px solid rgb(160 0 254);
    }

    &-top {
        position: absolute;
        right: 280px;
        left:280px;
        top:0;
        height: 80px;
        box-sizing: border-box;
    }

    &-container {
        height: 100%;
        padding: 80px 280px 0 270px;
        box-sizing: border-box;
        &-canvas {
            overflow: auto;
            height: 100%;
            &-content {
                margin: 20px auto;
                background-color: #bfa;
                position: relative;
            }
        }
    }

    // .editor-block {
    //     position: absolute;

    //     &::after {
    //         content: '';
    //         position: absolute;
    //         top:0;
    //         left:0;
    //         right:0;
    //         bottom:0;
            
    //     }
    // }

    .editor-block-focus {
        &::after {
            border: 2px dashed red;
        }

    }

    .editor-block-preview {
        &::after {
            display: none;
        }
    }

    .mark-line-x {
        position: absolute;
        top: 0;
        bottom: 0;
        border-left:1px dashed red;
    }

    .mark-line-y {
        position: absolute;
        left: 0;
        right: 0;
        border-top:1px dashed red;
    }
}

.editor-container-canvas-content {
    margin: 20px auto;
    background-color: #bfa;
    position: relative;

    .editor-block {
        position: absolute;

        &::after {
            content: '';
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            
        }
    }
}


.editor-top {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(160 0 254);
    &-button {
        margin: 0 10px;
        width: 60px;
        height: 60px;
        background-color: rgba(0,0,0,0.3);
        box-shadow: 0 0 2px rgba(0, 0, 0,0.8);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        user-select: none;
        cursor: pointer;
        color: rgba(255, 255, 255,0.8);
        > .iconfont {
            font-size: 25px;
            color: rgba(255, 255, 255,0.8);
        }
        // .icon-daoru,.icon-daochu1 {
        //     font-size: 25px;
        // }
        > .btn-label {
            padding-top: 3px;
        }
    }
}

.block-menu {
    position: absolute;
    top:0;
    left:0;
    height: 200px;
    width: 120px;
    border: 1px solid #ede0e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 0px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;

    &-item{
        width: 100%;
        flex: 1;
        border: 1px solid #ede0e0;
        display: flex;
        justify-content: center;
        align-items: center;

        user-select: none;
        cursor: pointer;
        >span {
            margin-left: 10px;
        }
    }
}


.range {
    margin: 0 auto;
    width: 200px;
    min-height: 30px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    > input {
        width: 40%;
        min-height: 25px;
    }
}


// 拖拽点的样式
.dot {
    height: 8px;
    width: 8px;
    box-sizing: border-box;
    background-color: black;
    z-index: 9999;
    // border-radius: 50%;
    position: absolute;
    user-select: none;
}


// 中间四个点
.center-start {
    top:-3px;
    left:calc(50% - 4px);
}

.center-end {
    bottom:-3px;
    left:calc(50% - 4px);
}

.start-center {
    top:calc(50% - 4px);
    left:-3px;
}
.end-center {
    top:calc(50% - 4px);
    right:-3px;
}

// 四个角的点
.start-start {
    top:-3px;
    left:-3px;
}

.end-start {
    top:-3px;
    right:-3px;
}

.start-end {
    bottom:-3px;
    left:-3px;
}

.end-end {
    bottom:-3px;
    right:-3px;
}

// 关闭动画
.el-button,.el-input {
    transition: none;
}