.left {
  flex: 1;
  // border: 1px solid red;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .logo {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 30px;
    background-image: url("@/assets/imgs/logo.gif");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
